<div class="nested-fields">
  <div class="field">
    <%= f.label :name, "Contender Name" %>
    <% if f.object.type == "TagTeam" %>
      <%= f.select :name, PayPerView.possible_tag_contenders, include_blank: true %>
    <% else %>
      <%= f.select :name, PayPerView.possible_contenders, include_blank: true %>
    <% end %>


    <%= link_to_remove_association "remove contender", f %>
  </div>
</div>
